@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-text: #fff;
  --background: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-text: #fff;
    --background: #0a0a0a;
  }
}

body {
  color: var(--foreground-text);
  background: var(--background);
}
